---
title: Index Page
type: page
layout: base
description: This works as Site Map for Static HTML Files
sortOrder: 0
---

<div class="container">
	<h1>Site Map for Static HTML File</h1>
	<ol>
		<li><a href="./home-page.html">Home</a></li>
	</ol>
</div>
