<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Page Title</title>
	<meta name="description" content="{{description}}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/bundle.components.css">
</head>

<body class="men" data-comp-prefix="app-js__">
	{% body %}

	<script src="./js/bundle.vendor.js"></script>
	<script src="./js/bundle.components.js"></script>

</body>
</html>
